body {
	display: flex;
	flex-direction: column;
	align-items: center;
    background-image: url("file:///Users/shanli/Downloads/Untitled%20design%20(3).png");
    background-position: bottom;
    background-size: cover;
}

h1 {
	font-size: 5rem;
    font-family: Roboto Mono;
    color: rgb(41, 3, 68);
}

button{
    font-family: Roboto Mono;
    font-weight: bold;
    margin-left: 5px;
}
button:hover{
    background-color: rgb(106, 80, 134);
    cursor:pointer;
}

#listblock{

    border: rgb(64, 4, 105) solid 5px;
    margin-top: 3%;
    width: 50vw;
    height: 70vh;
    overflow:auto;
    
}

h2{
    font-family: Roboto Mono;
    text-align: center;
}

#note{
    text-align: center;
    font-family: Roboto Mono;
    margin-top: .5%;
}

.priority{
    font-weight: bold;
}

li{
    margin-left: 2%;
    margin-right: 2%;
    
}

.complete{
    text-decoration: line-through;
    font-weight: bold;
}